.mainpg_cont_home p {
    font-size: 1.1rem;
    font-weight: 250;
    margin: 0;
    padding: 20px 100px 0;
}
.mainpg_cont_home img {
    align-items: center;
    width: 400px;
    border-radius: 50%;
}
.mainpg_cont_home p img {
    width: 250px;
}
.float-right {
    float: right;
    margin: 10px 0 10px 20px;
}
.float-left {
    float: left;
    margin: 10px 20px 10px 0;
}
