center, div, font, form, h1, h2, h3, h4, h5, h6, hr, img, label, li, ol, p, span, table, tr, u, ul {
  margin: 0; padding: 0; border: 0; background: transparent;
}
html {background-color: #181818 !important;}
html[light] {background-color: #f9f9f9 !important;}
html {
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  scrollbar-color: rgb(170, 170, 170) rgba(0, 0, 0, 0)
}
body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

#container.header {
  background-color: rgba(34, 34, 34, 0.9);
  padding: 0 16px;
  height: 56px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#container div {
  height: 100%;
  width: 80px;
  display: inline-flex;
}
#start.header, #end.header {
  display: flex;
  flex-direction: row;
}
#start.header {
  background-color: rgba(100, 0, 0, 0.8);
  align-items: center
}
#center.header {background-color: rgba(0, 100, 0, 0.8);}
#end.header {background-color: rgba(0, 0, 100, 0.8);}
