center, div, font, form, h1, h2, h3, h4, h5, h6, hr, img, label, li, ol, p, span, table, tr, u, ul {
  margin: 0; padding: 0; border: 0; background: transparent;
}
html[dark] {background-color: #181818 !important;}
html {background-color: #f9f9f9 !important;}
html {
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  scrollbar-color: rgb(170, 170, 170) rgba(0, 0, 0, 0)
}
html, body {
  min-height: 400px;
}
body, input, button {
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  color: #bdc1c5;
}
body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
a {
  color: #8ab4f8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-fixed {
  flex-shrink: 0;
  box-sizing: border-box;
}

.footer {
  background: #121212;

}

#footalt1.footer {
  padding: 15px 30px;
  border-bottom: 1px solid #212327;
  font-size: 15px;
  color: #9aa0a6;
}

#footmain.footer {
  padding: 0 20px;
}

a.ftcont {
  color: #999da2;
}
.ftcont {
  display: block;
  padding: 15px;
  white-space: nowrap;
}
