#container.header {
    overflow: hidden;
    width: auto;
    background-color: var(--main8-color);
    padding: 0 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hdtxt {
    text-decoration: none;
    color: var(--gen-font1-color-op88);
    font-weight: 600;
}
.hdtxt:hover {
    text-decoration: underline;
    color: var(--gen-font1-color);
}


#start.header a {
    padding: 5px 10px;
}
#end.header a {
    padding: 5px 15px;
}
