#container.header {
    overflow: hidden;
    width: auto;
    padding: 0 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: default;
}
#container.header span {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}
#container.header span:hover, #container.header span.active {
    text-decoration: underline;
}
#container.header span:hover {
    cursor: pointer;
}


#start.header span {
    padding: 5px 10px;
}
#end.header span {
    padding: 5px 15px;
}
