#container.mainpage {
    overflow: scroll;
    width: auto;
    background-color: #181818;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px auto;
    grid-template-areas:
        "sidebar mainpage_content";
}
#sidebar.mainpage {
    overflow-x: hidden;
    grid-area: sidebar;
    background: #141414;
    border-right: 1px solid rgba(100, 100, 100, 0.1);
    display: grid;
    grid-template-rows: 150px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "sidebar_top"
        "sidebar_bottom";
}
#mainpage_content.mainpage {
    height: 100%;
    width: 100%;
    grid-area: mainpage_content;
    padding: 20px 24px 0;
    background: #101010;
    box-shadow: 4px 1px 7px 1px #080808 inset;
}
