#sidebar_top.mainpage {
    grid-area: sidebar_top;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    overflow: hidden;
}
#sidebar_top.mainpage img {
    width: 100%;
}
#sidebar_bottom.mainpage {
    grid-area: sidebar_bottom;
}
#sidebar_bottom.mainpage li {
    padding: 1px 15px 1px 10px;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: color 0.1s;
    margin-right: 25px;
    font-weight: 600;
    cursor: pointer;
}
#sidebar_bottom.mainpage li:hover {
    text-decoration: underline;
}
#sidebar.mainpage hr {
    margin-top: 2rem !important;
    width: 100%;
    padding: 0;
    height: 3px !important;
    opacity: .5 !important;
    border: 0;
}
.mainpage ul {
    list-style: none;
}
.mainpage ul ul li {
    list-style: circle;
}