#mainpage_table.mainpage {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(16, 16, 16, 0.3);
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    margin: 0;
    padding: 24px;
}
.mainpg_cont_gallery div {
    margin-bottom: 1rem;
}
.mainpg_cont_gallery div a {
    text-decoration: none;
}
.mainpg_cont_gallery div a:hover {
    opacity: .9;
}
.mainpg_cont_gallery div img {
    border-radius: 2px 2px 0 0;
    border: 1px solid rgba(10,10,10, 0.2);
    border-bottom: none;
    width: 100%;
}
.mainpg_cont_gallery div p {
    letter-spacing: 0.4px;
    border-radius: 0 0 5px 2px;
    font-weight: 550;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 1rem;
    padding-top: 5px;
    border-top: none;
    border: 1px solid rgba(10,10,10, 0.1);
}