#sidebar_top.mainpage {
    grid-area: sidebar_top;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1px 5px 1px rgba(16, 16, 16, 0.5);
}
#sidebar_top.mainpage img {
    width: 100%;
}
#sidebar_bottom.mainpage {
    grid-area: sidebar_bottom;
    padding: 20px 24px 10px;
}
#sidebar_bottom.mainpage a {
    text-decoration: none;
    color: var(--gen-font1-color-op9);
}
#sidebar_bottom.mainpage a:hover {
    text-decoration: underline;
    color: var(--gen-font1-color);;
}
.mainpage ul {
    list-style: none;
}
.mainpage ul ul li {
    list-style: circle;
}