main {
    font-family: 'Roboto', Arial, 'sans-serif';
    scrollbar-color: rgb(170, 170, 170) rgba(0, 0, 0, 0);
    color: var(--gen-font2-color);
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
main {
    max-width: 1980px;
    min-width: 768px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "mainpage";
}

h2, h3 {
    color: var(--gen-font-color);
    font-weight: 700 !important;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#container.header {
    grid-area: header;
}
#container.mainpage {
    grid-area: mainpage;
}
