main {scrollbar-color: rgb(170, 170, 170) rgb(0, 0, 0);}
/*=====COLOR=====*/
main {color: var(--font5-color);}
h2, h3 {color: var(--font5-color);} /*titles*/
/*header*/
#container.header ul li {color: var(--font4-color);}
#container.header ul li:hover {color: var(--font3-color);}
#container.header ul li:hover ul li:hover{color: var(--font2-color);}
#container.header ul li:hover ul li span {color: var(--font5-color);}
#container.header ul li:hover ul li:hover span {color: var(--font1-color);}
/*mainpage galery*/
.mainpg_cont_gallery div a:hover {color: var(--font5-color);}
.mainpg_cont_gallery div a {color: var(--font4-color);}

/*=====BACKGROUND=====*/
#content {background-color: var(--main05-color);} /*mainpage bg*/
:root {background-color: var(--main05-color)}
/*header*/
#container.header {background-color: var(--main02-color-h);}
#container.header ul li:hover ul li:hover {background-color: var(--main04-color-h);}
#container.header ul li:hover ul li:hover span {background-color: var(--main02-color);}
#container.header ul li:hover ul li span {border: 1px solid var(--main01-color); background-color: var(--main01-color);}
#container.header ul li:hover ul li {border-top: 1px solid var(--main04-color); background-color: var(--main03-color-h);}
/*mainpage galery*/
#mainpage_content.mainpage .mainpg_cont_gallery div a:hover p {background-color: var(--main01-color-h);}
#mainpage_content.mainpage  .mainpg_cont_gallery div p {background-color: var(--main03-color);}


/*==========GOOD ONES==========*/
html[theme="dedsec"] {
    --main01-color: #da2a00;
    --main02-color: #f5f5f5;
    --main03-color: #f1f1ed;
    --main04-color: #e5e5de;
    --main01-color-h: #0202e7;
    --main02-color-h: #f5f5f5f5;
    --main03-color-h: #f1f1edf5;
    --main04-color-h: #e5e5def5;
    --main05-color: #252525;
    --font1-color: #da2a00;
    --font2-color: #404957;
    --font3-color: #323a46;
    --font4-color: #000000;
    --font5-color: #f5f5f5;
}
html[theme="purple"] {
    --main01-color: #d562be;
    --main02-color: #e4def9;
    --main03-color: #ebc1ee;
    --main04-color: #ada1e6;
    --main01-color-h: #d562be;
    --main02-color-h: #e4def9f5;
    --main03-color-h: #ebc1eef5;
    --main04-color-h: #ada1e6f5;
    --main05-color: #605399;
    --font1-color: #d562be;
    --font2-color: #f1faee;
    --font3-color: #000814;
    --font4-color: #000814;
    --font5-color: #f1faee;
}

/*==========BEING TESTED==========*/
