main {scrollbar-color: rgb(170, 170, 170) rgba(0, 0, 0, 0);}
/*=====BOX-SHADOW=====*/
#mainpage_content.mainpage {box-shadow: 1px 1px 7px 2px rgba(16, 16, 16, 0.5) inset;} /*mainpage shadow*/
#mainpage_table.mainpage {box-shadow: 4px 1px 7px 1px rgba(16, 16, 16, 0.5);} /*mainpage shadow*/
#sidebar_top.mainpage {box-shadow: 0 1px 5px 1px rgba(16, 16, 16, 0.3);} /*sidebar banner shadow*/
.mainpg_cont_gallery div img {box-shadow: 0px 1px 7px 2px rgba(16, 16, 16, 0.3);} /*gallery images shadow*/
.mainpg_cont_gallery div p {box-shadow: 1px 1px 7px 2px rgba(16, 16, 16, 0.3);} /*gallery text shadow*/

/*=====COLOR=====*/
main {color: var(--main2-font1-color);} /*????*/
#container.header a:hover {color: var(--main1-font1-color);} /*header text hover*/
#container.header a {color: var(--main1-font2-color);} /*header text*/
#sidebar_bottom.mainpage ul {color: var(--main2-font1-color)} /*sidebar decorations*/
#sidebar_bottom.mainpage a:hover {color: var(--main2-font1-color);} /*sidebar buttons hover*/
#sidebar_bottom.mainpage a {color: var(--main2-font2-color);} /*sidebar buttons*/
h2, h3 {color: var(--main3-font1-color);} /*titles*/
#container.mainpage {color: var(--main3-font1-color);} /*mainpage general*/
#mainpage_table.mainpage {color: var(--main3-font1-color);} /*mainpage table text*/
.mainpg_cont_gallery div a {color: var(--main1-font1-color);} /*mainpage table text link*/

/*=====BACKGROUND=====*/
hr.hr_contrast {background-color: var(--main1-font1-color);} /*light on dark theme*/
hr.hr_same {background-color: var(--main03-color);} /*dark on dark themes*/
#container.header {background-color: var(--main05-color);} /*header nav bar*/
#sidebar.mainpage {background-color: var(--main04-color);} /*sidebar bottom*/
#container.mainpage {background-color: var(--main03-color);} /*mainpage scrollbar*/
#mainpage_content.mainpage {background-color: var(--main02-color);} /*mainpage content*/
#mainpage_table.mainpage {background-color: var(--main03-color);} /*mainpage table*/
.mainpg_cont_gallery div p {background: var(--main05-color);} /*mainpage gallery text*/


/*==========GOOD ONES==========*/
html[yellow_vivid] {
    --main01-color: #ffd60a;
    --main02-color: #ffc300;
    --main03-color: #003566;
    --main04-color: #001d3d;
    --main05-color: #000814;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
}

/*==========BEING TESTED==========*/
html[neon] {
    --main01-color: #7209b7;
    --main02-color: #4cc9f0;
    --main03-color: #4361ee;
    --main04-color: #3a0ca3;
    --main05-color: #f72585;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
}
html[blue_enterprise] {
    --main01-color: #ffffff;
    --main02-color: #d9d9d9;
    --main03-color: #3c6e71;
    --main04-color: #284b63;
    --main05-color: #353535;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
}
html[brown] {
    --main01-color: #ccd5ae;
    --main02-color: #e9edc9;
    --main03-color: #fefae0;
    --main04-color: #faedcd;
    --main05-color: #d4a373;
    --main1-font1-color: rgb(0,0,0);
    --main1-font2-color: rgba(0,0,0, 0.9);
    --main2-font1-color: rgb(0,0,0);
    --main2-font2-color: rgba(0,0,0, 0.9);
    --main3-font1-color: rgb(0,8,20);
    --main3-font2-color: rgba(0,8,20, 0.9);
}
/*==============================*/
html[lavender] {
    --main01-color: #f2afad;
    --main02-color: #735565;
    --main03-color: #d99ab7;
    --main04-color: #f2bdcb;
    --main05-color: #be7ca5;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(0,8,20);
    --main2-font2-color: rgba(0,8,20, 0.9);
    --main3-font1-color: rgb(0,8,20);
    --main3-font2-color: rgba(0,8,20, 0.9);
}
html[prim] {
    --main01-color: #592e36;
    --main02-color: #a69497;
    --main03-color: #f2e4e9;
    --main04-color: #590a2f;
    --main05-color: #aebfbc;
    --main1-font1-color: rgb(0,8,20);
    --main1-font2-color: rgba(0,8,20, 0.9);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(0,8,20);
    --main3-font2-color: rgba(0,8,20, 0.9);
}
html[prim2] {
    --main01-color: #592e36;
    --main02-color: #aebfbc;
    --main03-color: #f2e4e9;
    --main04-color: #a69497;
    --main05-color: #590a2f;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(0,8,20);
    --main2-font2-color: rgba(0,8,20, 0.9);
    --main3-font1-color: rgb(0,8,20);
    --main3-font2-color: rgba(0,8,20, 0.9);
}
html[rose] {
    --main01-color: #cebeaf;
    --main02-color: #e9e2ec;
    --main03-color: #e6bfdb;
    --main04-color: #9d5981;
    --main05-color: #5c2424;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(0,8,20);
    --main3-font2-color: rgba(0,8,20, 0.9);
}
html[shades_of_purple] {
    --main01-color: #d562be;
    --main02-color: #ebc1ee;
    --main03-color: #e4def9;
    --main04-color: #ada1e6;
    --main05-color: #605399;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(0,8,20);
    --main2-font2-color: rgba(0,8,20, 0.9);
    --main3-font1-color: rgb(0,8,20);
    --main3-font2-color: rgba(0,8,20, 0.9);
}
html[skate_ride] {
    --main01-color: #011627;
    --main02-color: #fdfffc;
    --main03-color: #2ec4b6;
    --main04-color: #e71d36;
    --main05-color: #ff9f1c;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
}
html[template] {
    --main01-color: #;
    --main02-color: #;
    --main03-color: #;
    --main04-color: #;
    --main05-color: #;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
}
html[template] {
    --main01-color: #;
    --main02-color: #;
    --main03-color: #;
    --main04-color: #;
    --main05-color: #;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
}
html[template] {
    --main01-color: #;
    --main02-color: #;
    --main03-color: #;
    --main04-color: #;
    --main05-color: #;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
    --main4-font1-color: rgb(0,8,20);
    --main4-font2-color: rgba(0,8,20, 0.9);
}
html[template] {
    --main01-color: #;
    --main02-color: #;
    --main03-color: #;
    --main04-color: #;
    --main05-color: #;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
    --main4-font1-color: rgb(0,8,20);
    --main4-font2-color: rgba(0,8,20, 0.9);
}
html[template] {
    --main01-color: #;
    --main02-color: #;
    --main03-color: #;
    --main04-color: #;
    --main05-color: #;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
    --main4-font1-color: rgb(0,8,20);
    --main4-font2-color: rgba(0,8,20, 0.9);
}
html[template] {
    --main01-color: #;
    --main02-color: #;
    --main03-color: #;
    --main04-color: #;
    --main05-color: #;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
    --main4-font1-color: rgb(0,8,20);
    --main4-font2-color: rgba(0,8,20, 0.9);
}
html[template] {
    --main01-color: #;
    --main02-color: #;
    --main03-color: #;
    --main04-color: #;
    --main05-color: #;
    --main1-font1-color: rgb(255,255,255);
    --main1-font2-color: rgba(255,255,255, 0.88);
    --main2-font1-color: rgb(255,255,255);
    --main2-font2-color: rgba(255,255,255, 0.88);
    --main3-font1-color: rgb(255,255,255);
    --main3-font2-color: rgba(255,255,255, 0.88);
    --main4-font1-color: rgb(0,8,20);
    --main4-font2-color: rgba(0,8,20, 0.9);
}



/*
html[x] {
    --main01-color: #;
    --main02-color: #;
    --main03-color: #;
    --main04-color: #;
    --main05-color: #;
    --main06-color: #;
    --main07-color: #;
    --main08-color: #;
    --main09-color: #;
    --main10-color: #;
}

            ==========COLOR==========
    --mainX-font1-color: rgb(255,255,255);
    --mainX-font2-color: rgba(255,255,255, 0.88);

    --mainX-font1-color: rgb(0,0,0);
    --mainX-font2-color: rgba(0,0,0, 0.9);



    --mainX-font1-color: rgb(189,193,197);
    --mainX-font2-color: rgba(189,193,197, 0.9);

    --mainX-font1-color: rgb(0,8,20);
    --mainX-font2-color: rgba(0,8,20, 0.9);
*/