#mainpage_content.mainpage #cont_gallery {
    padding: 10px 20px;
}
#mainpage_content.mainpage .mainpage {
    margin: 0 0 20px;
}
.mainpg-bg{
    padding: 10px 20px 1px;
    margin-bottom: 1rem;
}

/**/

#cont_gallery div {
    max-width: 277px;
}
#cont_gallery div div {
    margin-bottom: 2rem;
    cursor: pointer;
}
#cont_gallery div div a, #cont_gallery div div font {
    text-decoration: none;
    position: relative;
    display: block;
}
#cont_gallery div div i {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42pt;
    opacity: 0.8;
}
#cont_gallery div div:hover i {
    opacity: 0.55;
}
#cont_gallery div div i.active {
    display: none;
}
#cont_gallery div div:hover i.active {
    display: flex;
}
#cont_gallery div div span {
    font-size: 8pt;
    display: none;
    width: 100%;
}
#cont_gallery div div:hover span {
    padding: 2px 8px 0.5rem;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
}
#cont_gallery div div:hover p {
    outline-style: solid;
    outline-width: 1px;
}
#cont_gallery div div:hover img, #cont_gallery div div:hover video {
    outline-style: solid;
    outline-width: 1px;
}
#cont_gallery div div img, #cont_gallery div div video {
    pointer-events: auto;
    border-radius: 2px 2px 0 0;
    vertical-align: middle;
    width: 100%;
}
#cont_gallery div div p {
    border-radius: 0 0 5px 2px;
    transition: background-color 0.05s;
    letter-spacing: 0.4px;
    font-weight: 550;
    font-size: 12pt;
    line-height: 20px;
    padding: 2px 5px 1rem 7px;
    min-height: 40px;
    margin: 0;
}