#mainpage_content.mainpage #cont_gallery {
    padding: 10px 20px;
}


#cont_gallery div {
    margin-bottom: 1rem;
}
#cont_gallery div a {
    transition: color 0.2s;
    text-decoration: none;
}
#cont_gallery div a:hover {
    opacity: .9;
}
#cont_gallery div img {
    border-radius: 2px 2px 0 0;
    border-bottom: none;
    width: 100%;
}
#cont_gallery div p {
    letter-spacing: 0.4px;
    transition: background-color 0.2s;
    border-radius: 0 0 5px 2px;
    font-weight: 550;
    font-size: 12pt;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 1rem;
    padding-top: 5px;
    border-top: none;
    min-height: 70px;
}